<!DOCTYPE HTML> 
<html lang="en"> 
<head>
<title>Direct Transfer</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="static/css/bootstrap.min.css" type="text/css" />
<link rel="stylesheet" href="static/css/fonts.css" type="text/css" />
<link rel="stylesheet" href="static/css/styles.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="static/js/peer.js"></script>
<script>
// Connect to PeerJS, have server assign an ID instead of providing one
// Showing off some of the configs available with PeerJS :).
var peer = new Peer({
  // Set API key for cloud server (you don't need this if you're running your
  // own.
  key: 'wpgum12rnva38fr',

  // Set highest debug level (log everything!).
  debug: 3,

  config: {'iceServers': [
    { url: 'stun:stun2.l.google.com:19302' },
    { url: 'turn:turn.bistri.com:80', credential: 'homeo', username: 'homeo' }
  ]},

  // Set a logging function:
  logFunction: function() {
    var copy = Array.prototype.slice.call(arguments).join(' ');
    console.log(copy);
  }
});
var connectedPeers = {};

// Show this peer's ID.
peer.on('open', function(id){
  $('#pid').text(window.location.href + id);
});

// Await connections from others
peer.on('connection', connect);

peer.on('error', function(err) {
  console.log(err);
})

function eachActiveConnection(fn) {
  var actives = $('.active');
  var checkedIds = {};
  actives.each(function() {
    var peerId = $(this).attr('id');

    if (!checkedIds[peerId]) {
      var conns = peer.connections[peerId];
      for (var i = 0, ii = conns.length; i < ii; i += 1) {
        var conn = conns[i];
        fn(conn, $(this));
      }
    }

    checkedIds[peerId] = 1;
  });
}

function sendMessage(message){
  // For each active connection, send the message.
  eachActiveConnection(function(c, $c) {
    if (c.label === 'chat') {
      c.send(message);
      // $c.find('.messages').append('<div><span class="you">You: </span>' + msg
      //   + '</div>');
    }
  });
}

// Handle a connection object.
function connect(c) {
  // Handle a chat connection.
  if (c.label === 'chat') {
    var chatbox = $('<div></div>').addClass('connection').addClass('active').attr('id', c.peer);
    var header = $('<h5></h5>').html('Chat with <strong>' + c.peer + '</strong>');
    var messages = $('<div><em>Peer connected.</em></div>').addClass('messages');
    chatbox.append(header);
    chatbox.append(messages);
 
    $('#connections').append(chatbox);

    c.on('data', function(data) {
      messages.append('<div><span class="peer">' + c.peer + '</span>: ' + data + '</div>');
      if (data == "Transferred"){
          document.getElementById("page4").style.display = "none";
          document.getElementById("page5").style.display = "block";
      }
    });

    c.on('close', function() {
      alert("The other user has disconnected.");
      chatbox.remove();
      if ($('.connection').length === 0) {
        $('.filler').show();
      }
      delete connectedPeers[c.peer];
    });
  } 

  // else if (c.label === 'file') {
  //   c.on('data', function(data) {
  //     // If we're getting a file, create a URL for it.
  //     if (data['File'].constructor === ArrayBuffer) {
  //       var dataView = new Uint8Array(data["File"]);
  //       var dataBlob = new Blob([dataView], {type: "application/octet-stream"});
  //       var url = window.URL.createObjectURL(dataBlob);
  //       var link = document.createElement('a');
  //       link.download = data["name"];
  //       link.href = url;
  //       console.log("Link: " + link);
  //       link.click();
  //       // TODO might need to remove some of the above lines and keep the below line if we want to do a manual download instead of an automatic download
  //       $('#' + c.peer).find('.messages').append('<div><span class="file">' +
  //           c.peer + ' has sent you a <a target="_blank" href="' + url + '">file</a>.</span></div>');
  //     }
  //   });
  // }
  connectedPeers[c.peer] = 1;

  document.getElementById("page2").style.display = "none";
  document.getElementById("page3").style.display = "block";
}

$(document).ready(function() {
  // Prepare file drop box.
  var box = $('#box');
  box.on('dragenter', doNothing);
  box.on('dragover', doNothing);
  box.on('drop', function(e){
    e.originalEvent.preventDefault();
    var file = e.originalEvent.dataTransfer.files[0];
    document.getElementById("page1").style.display = "none";
    document.getElementById("page2").style.display = "block";

    sendMessage("video");


    $("#sendButton").click(function(){
      document.getElementById("page3").style.display = "none";
      document.getElementById("page4").style.display = "block";
      eachActiveConnection(function(c, $c) {
        if (c.label === "file"){
          // you sent a file
          sendMessage("Receiving file of size " + file.size + " bytes ...");

          c.send({"name": file.name, "File":file});
          // document.getElementById("page1").style.display = "none";
          // document.getElementById("sendFileButton").style.display = "none";
        }
      }); 
    });
  });
  function doNothing(e){
    e.preventDefault();
    e.stopPropagation();
  }

  // Connect to a peer
  // $('#connect').click(function() {
  //   var requestedPeer = $('#rid').val();
  //   if (!connectedPeers[requestedPeer]) {
  //     // Create 2 connections, one labelled chat and another labelled file.
  //     var c = peer.connect(requestedPeer, {
  //       label: 'chat',
  //       serialization: 'none',
  //       metadata: {message: 'hi i want to chat with you!'}
  //     });
  //     c.on('open', function() {
  //       connect(c);
  //     });
  //     c.on('error', function(err) { alert(err); });
      
  //     var f = peer.connect(requestedPeer, 
  //       { label: 'file', reliable: true });
  //     f.on('open', function() {
  //       connect(f);
  //     });
  //     f.on('error', function(err) { alert(err); });
  //   }
  //   connectedPeers[requestedPeer] = 1;
  // });

  // Close a connection.
  // $('#close').click(function() {
  //   eachActiveConnection(function(c) {
  //     c.close();
  //   });
  // });

  // Send a chat message to all active connections.
  $('#send').submit(function(e) {
    e.preventDefault();
    // For each active connection, send the message.
    var msg = $('#text').val();
    eachActiveConnection(function(c, $c) {
      if (c.label === 'chat') {
        c.send(msg);
        $c.find('.messages').append('<div><span class="you">You: </span>' + msg
          + '</div>');
      }
    });
    $('#text').val('');
    $('#text').focus();
  });

  // Goes through each active peer and calls FN on its connections.
  function eachActiveConnection(fn) {
    var actives = $('.active');
    var checkedIds = {};
    actives.each(function() {
      var peerId = $(this).attr('id');

      if (!checkedIds[peerId]) {
        var conns = peer.connections[peerId];
        for (var i = 0, ii = conns.length; i < ii; i += 1) {
          var conn = conns[i];
          fn(conn, $(this));
        }
      }

      checkedIds[peerId] = 1;
    });
  }

  // Show browser version
  $('#browsers').text(navigator.userAgent);
});

// Make sure things clean up properly.

window.onunload = window.onbeforeunload = function(e) {
  if (!!peer && !peer.destroyed) {
    peer.destroy();
  }
};

</script>
</head> 
 
<body> 
  <div id="page1" class="page">
    <div class="logo">
        <img class="logo" src="static/images/tf1.png" width=120px>
      </div>
    <div id="box">
      <p>Drag file here
      </div>

      </p>


      <div id="wrap" style="display:none"><div id="connections"><span class="filler">You have not yet made any connections.</span></div><div class="clear"></div></div>    
    </div>
</div>

<div id="page2" class="page" style="display: none">
  <div class="logo">
      <img class="logo" src="static/images/tf1.png" width=120px>
  </div>
  <p id="shareUrl"><span id="pid"></span><br><br><br>Waiting for recipient to open link ...</p>
</div>

<div id="page3" class="page" style="background-color: white; display:none">
  <div class="logo">
      <img class="logo" src="static/images/tf1.png" width=120px>
  </div>
  <!-- <p><input type="button" id="sendFileButton" value="Send"/></p> -->
  <div id="sendButton">
    <div id="sendButtonText">
      Send
    </div>
  </div>
</div>

<div id="page4" class="page" style="background-color: white; display:none">
  <div class="logo">
      <img class="logo" src="static/images/tf1.png" width=120px>
  </div>
  <p>Sending file ...</p>
</div>

<div id="page5" class="page" style="background-color: white; display:none">
  <div class="logo">
      <img class="logo" src="static/images/tf1.png" width=120px>
  </div>
  <p>Sent!</p>
</div>


<style>
body, html{
  margin: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
.logo{
  float: left;
  padding: 30px;
  position: absolute;
}

.page{
  height: 100vh;
  overflow: hidden;
  vertical-align: middle;
  text-align: center;
}

#box{
  font-size: 15px;
  height: 100vh;
}

#sendButton{
  width: 120px;
  height: 50px;
  background-color: #212635;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: white;
  vertical-align: middle;
  cursor: pointer;

}
#sendButtonText{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#pid{
  padding: 20px;
  background-color: #212635;
  color: white;
}
.page p{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

</style>
</body> 
</html> 